@import "tailwindcss";


:root {
  --background: #ffffff; 
  --foreground: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; 
    --foreground: #FBFEF9; 
  }
}

@theme inline {
  
  --color-brand-red:   #6E0D0F;
  --color-brand-gray:  #5F6062;
  --color-brand-white: #FBFEF9;
  --color-brand-black: #000000;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans, sans-serif);
}
